<% if @category.errors.any? %>
  <div>
    <div id="new-alert" class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div id="errors">
        <h2>Se tienen <%= @category.errors.count %> error por favor corrigirlo</h2>
        <hr>
        <ul>
          <% @category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="box">
  <div id="head2">
    <span class="h2">Editar categoria</span> 
  </div>
  <%= form_for @category, html: { class: "mt-3" } do |f| %>
    <div class="form-group">
      <%= f.label "Unidad:" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.submit "Editar", class: "btn btn-primary" %>
  <% end %>
</div>