<div class="box">
  <div id="head2">
    <span class="h2">Categorias</span>
    <%= link_to "Crear", new_category_path, class: "btn btn-primary btn-sm", id: "btn-right" %>
  </div> 
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @categories.each do |category| %>
          <tr>
            <td scope="row"><%= category.id %></td>
            <td><%= category.name %></td>
            <td><%= link_to 'Editar', edit_category_path(category) %></td>  
            <td><%= link_to 'Eliminar', category_path(category),
                    method: :delete,
                    data: { confirm: 'Esta seguro ?'} %></td>
          </tr>
      <%end %>
    </tbody>
  </table>  
</div>