<h1>Crear categoria</h1>

<% if @category.errors.any? %>
  <div id="errors">
    <h3>Se tienen <%= @category.errors.count %> error por favor corrigirlos</h3>
    <ul>
      <% @category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @category do |f| %>
  <p>
    <%= f.label "Categoria: " %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>
