<div class="box">
  <div id="head2">
    <span class="h2">Productos</span>
    <%= link_to 'Crear', new_product_path, class: "btn btn-primary btn-sm", id: "btn-right" %>
  </div>

  <!-- Product list --> 
  <div id="products-list-container" class="mt-3">
    <ul id="products-list">
      <% @products.each do |product| %>
        <li id="product">
          <div id="product-info">
            <%= link_to (product_path(product)) do %>

              <div id="flex1">
                <div class="description">
                  <h3><%= product.name %></h3>
                  <p><%= product.description %></p>
                </div>
                <div id="cost"><span>$ &nbsp</span><%= product.cost %></div>  
              </div>
              
              <div id="flex1">
                <div id="categories">
                  <% product.categories.each do |category| %>
                  <span id="category"><%= category.name %></span>
                  <% end %>
                </div>
                <div id="actions">
                  <%= link_to (fa_icon "pencil"), edit_product_path(product), id: "action" %>
                  <%= link_to (fa_icon "trash"), product_path(product),
                                        method: :delete,
                                        data: { confirm: 'Esta seguro ?'}, id: "action" %>
                </div>  
              </div>     
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>