<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Descriptión</th>
      <th>Valor</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |products| %>
      <tr>
        <td><%= products.id %></td>
        <td><%= products.name %></td>
        <td><%= products.description %></td>
        <td><%= products.cost %></td>
        <td><%= link_to 'Editar', '#' %></td>
        <td><%= link_to 'Elimminar', '#' %></td>
      </tr>
    <%end %>
  </tbody>
</table>