<h1>Crear producto</h1>

<% if @product.errors.any? %>
  <div id="errors">
    <h2>Se tienen <%= @product.errors.count %> error por favor corrigirlos</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @product do |f| %>
  <p>
    <%= f.label "Nombre: " %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label "Descripción: " %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label "Valor: " %>
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>
