<h1>Producto</h1>

<% if @product.errors.any? %>
  <div id="errors">
    <h2>Se tienen <%= @product.errors.count %> error por favor corrigirlos</h2>
    <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<p>
  <label>Nombre:</label>
  <%= @product.name %>
</p>
<p>
  <label>Descripción:</label>
  <%= @product.description %>
</p>
<p>
  <label>Valor:</label>
  <%= @product.cost %>
</p>
<%= link_to 'Volver', products_path %>
